:host {
  flex:0 0 auto;
  font-family:var(--app-font-family);
  width:100%;
  .container, .container-shadow {
    min-height:48px;
  }

  .container-shadow {
    box-shadow:var(--app-box-shadow);
    border-radius:2px;
  }

  .quote-container {
    display:flex;
  }

  .quote-text {
    font-style:italic;
    min-height:24px;
    margin:0px 24px;
  }

  .spacer {
    height:24px;
    width:24px;
    @include center();
   }

  .start {
    justify-content:flex-start;
  }
  .end {
    justify-content:flex-end;
  }

}
