lumavate-nav-bar-item {
  & div {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:8px 0px 10px 0px;
    .icon {
      width: 24px;
      height: 24px;
      -webkit-mask: no-repeat 50% 50%;
      mask: no-repeat 50% 50%;
      &.active: {
        margin-top:6px;
      }
    }
    & div {
      padding:4px 4px;
      cursor:pointer;
    }
    .button-text {
      font-size: 12px;
      margin-top:4px;
      line-height:0;
    }
  }
  font-family:'Roboto', sans-serif;
}
